.progress[b-ful1zs9hcb] {
    padding: 20px 0;
    height: 112px;
    background: white;
}

.col[b-ful1zs9hcb] {
    display: inline-block;
    padding: 10px;
}

.container[b-ful1zs9hcb] {
    padding: 20px;
}

.title[b-ful1zs9hcb] {
    font-size: 1.3em;
}

.infor[b-ful1zs9hcb] {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid #bebebe;
    padding: 10px;
    font-size: 1.5rem;
}

.details_product table[b-ful1zs9hcb] {
    width: 100%;
}

.details_product[b-ful1zs9hcb] {
    display: grid;
    text-align: center;
    border-bottom: 5px solid #e71f76;
}

.infor_product[b-ful1zs9hcb] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid #bebebe;
    align-items: center;
    font-size: 1.5rem;
}

.row.totals_order[b-ful1zs9hcb] {
    display: grid;
    justify-content: end;
}

.order_key span:last-child[b-ful1zs9hcb] {
    color: #e71f76;
    font-weight: bold;
}

.infor_order button[b-ful1zs9hcb] {
    margin: 10px;
    width: 150px;
    height: 30px;
    background-color: #e05994;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.location_delivery span[b-ful1zs9hcb] {
    color: #e71f76;
    font-weight: bold;
}

.infor_payment span[b-ful1zs9hcb] {
    color: #e71f76;
    font-weight: bold;
}

.details_header[b-ful1zs9hcb] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid #bebebe;
    background-color: #f37baf;
    font-weight: bold;
    font-size: 1.3rem;
    color: #fff;
    height: 50px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.infor_details_product[b-ful1zs9hcb] {
    display: flex;
    text-align: start;
}

.brand_product[b-ful1zs9hcb] {
    font-weight: bold;
}

.image_product img[b-ful1zs9hcb] {
    height: 70px;
    width: 77px;
}

.totals_order[b-ful1zs9hcb] {
    background-color: #f1f1f1;
    border: 1px solid #bebebe;
    font-size: 1.5rem;
    gap: 15px;
    padding: 20px;
}

    .totals_order span[b-ful1zs9hcb] {
        text-align: start;
        margin: 50px;
    }

.order_prices span:first-child[b-ful1zs9hcb] {
    font-weight: bold;
}

.order_prices span:last-child[b-ful1zs9hcb] {
    color: red;
    font-weight: bold;
}

.progress-lists[b-ful1zs9hcb] {
    display: flex;
    justify-content: center;
}

    .progress-lists li[b-ful1zs9hcb] {
        list-style: none;
        display: inline-block;
        width: 20%;
        position: relative;
        text-align: center;
        cursor: pointer;
        color: #bebebe;
        font-size: 1.5em;
        font-weight: bold;
    }

        .progress-lists li[b-ful1zs9hcb]:before {
            content: "\2713";
            width: 50px;
            height: 50px;
            line-height: 50px;
            border: 2px solid #bebebe;
            border-radius: 100%;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            background-color: #fff;
            font-size: 2em;
            color: #bebebe;
        }

        .progress-lists li[b-ful1zs9hcb]:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #ddd;
            top: 25px;
            left: -50%;
            z-index: -1;
        }

        .progress-lists li:first-child[b-ful1zs9hcb]:after {
            content: none;
        }

        .progress-lists li.active[b-ful1zs9hcb] {
            color: green;
        }

            .progress-lists li.active[b-ful1zs9hcb]:before {
                border-color: green;
                color: green;
            }

            .progress-lists li.active + li[b-ful1zs9hcb]:after {
                background-color: green;
            }

.body-user-feature-item a[b-ful1zs9hcb] {
    all: unset;
}
