.related-list-titile[b-aifdhz83ve] {
    text-align: center;
}

.detail-product[b-aifdhz83ve] {
    margin: 20px 0;
}

.detail-product_contain[b-aifdhz83ve] {
    display: flex;
    gap: 30px;
}

.detail-img-section[b-aifdhz83ve] {
    flex: 1;
    display: grid;
    gap: 10px;
    grid-template-columns: 1.9fr 9fr;
}

.list-product-item img[b-aifdhz83ve] {
    height: 100%;
    width: 100%;
}

.display-img[b-aifdhz83ve] {
    position: relative;
}

.display-img-main[b-aifdhz83ve] {
    height: 100%;
    width: 100%;
}

.detail-descript-section[b-aifdhz83ve] {
    flex: 1;
}

.container-btn[b-aifdhz83ve] {
    display: flex;
}

.app-btn[b-aifdhz83ve] {
    margin: 10px 0;
    display: inline-block;
    width: 40%;
}

.app-btn--payment[b-aifdhz83ve] {
    background-color: #5a31f4;
}

.description-header[b-aifdhz83ve] {
    width: 100%;
    border: initial;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top: solid 0.5px rgba(0, 0, 0, 0.2);
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.2);
    padding: 20px 10px;
}

.detail-product-description-text[b-aifdhz83ve] {
    padding: 20px 10px;
}

    .detail-product-description-text p[b-aifdhz83ve] {
        font-size: var(--font-size);
    }

h3[b-aifdhz83ve] {
    font-size: var(--h1-size);
    font-weight: 300;
}

.detail-descript-block[b-aifdhz83ve] {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.round-button span[b-aifdhz83ve] {
    font-size: 15px;
    margin-left: 5px;
}

.round-button--left[b-aifdhz83ve] {
    position: absolute;
    top: 12px;
    left: 10px;
    line-height: 42px;
}

.round-button--right[b-aifdhz83ve] {
    position: absolute;
    top: 12px;
    left: 61px;
    line-height: 42px;
}

.path[b-aifdhz83ve] {
    font-weight: 200;
    padding: 20px 0;
}

    .path a[b-aifdhz83ve] {
        color: black;
    }

.path__current[b-aifdhz83ve] {
    font-weight: 300;
}
.cart-product-updown[b-aifdhz83ve] {
    display: flex;
    width: 97px;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.cart-product-updown-link[b-aifdhz83ve] {
    padding: 5px;
    background: none;
    border: none;
}

.cart-product-quantity[b-aifdhz83ve] {
    border: none;
    width: 28px;
}
.text-center[b-aifdhz83ve] {
    display: flex !important;
    flex-wrap: wrap;
}
.col-lg-3[b-aifdhz83ve] {
    width: 25% !important;
    flex-basis: 25%;
}
.card[b-aifdhz83ve] {
    height: 100%;
}
.detail_color-img[b-aifdhz83ve] {
    background-position: center center;
    height: 34px;
    width: 34px;
    border-radius: 4px;
}
.color-option input[b-aifdhz83ve] {
    display: none;
    box-shadow: 0px 0px 1px 0px #aaa;
}
.color-option-container[b-aifdhz83ve]
{
    display:flex;
    gap:18px;
}
.app-btn[b-aifdhz83ve] {
    color: white !important;
}
.salesprice[b-aifdhz83ve] {
    color: rgba(0,0,0,.54);
    text-decoration: line-through;
    margin-left: 4px;
    font-size: 14px;
}
