FurnitureStore/.vs/FurnitureStore/FileContentIndex/397ebfeb-42b0-4f6c-a099-0ce612b82428.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/3a4b1c76-9ce9-4af6-b7eb-3391f6fdb015.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/545a588f-6149-4898-83b1-6486e46d0761.vsidx
FurnitureStore/.vs/FurnitureStore/FileContentIndex/c660e118-7644-4855-a7fc-c9f84ec08578.vsidx
