@using Microsoft.AspNetCore.Components.Authorization
@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    private string NavLinkMatch(string href)
    {
        var currentUri = NavigationManager.Uri;
        return currentUri.Contains(href, StringComparison.OrdinalIgnoreCase) ? "activeNav" : "";
    }
}

 <AuthorizeView>
                <Authorized>
<div class="container_list">
	<ul class="list_item">
		<li class="list_choice">
			<a href="/admin/dashboard" class="dashboard">
				<ion-icon name="home-sharp"></ion-icon>
				Bảng điều khiển
			</a>
		</li>
		<li class="list_choice">
			<a href="/admin/categories" class="category">
				<ion-icon name="pricetags"></ion-icon>
				Danh sách thể loại
			</a>
		</li>
		<li class="list_choice">
			<a href="/admin/products" class="product">
				<ion-icon name="bag"></ion-icon>
				Sản phẩm
			</a>
		</li>
		<li class="list_choice">
            <a href="/admin/orders" class="order @(NavLinkMatch("/admin/orders"))">
				<ion-icon name="cart"></ion-icon>
				Đơn hàng
			</a>
		</li>

		<li class="list_choice">
			<a href="/admin/reports" class="report">
				<ion-icon name="bar-chart"></ion-icon> Thống kê
			</a>
		</li>
		<li class="list_choice">
			<a href="/admin/customers" class="manage">
				<ion-icon name="people"></ion-icon> Quản lý tài khoản
			</a>
		</li>
	</ul>
</div>
    </Authorized>
</AuthorizeView>
