.user_infor img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.user_infor {
    position: relative;
}

.logout-link {
    text-decoration: none;
}


.dashboard_header {
    display: flex;
    justify-content: space-between;
    margin: 10px 60px 0px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5em;
}

.logout {
    width: 150px;
    display: none;
    position: absolute;
    top: 110%;
    right: -55%;
    background-color: #ffffff;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

    .logout:hover {
        color: rgba(255, 0, 0, 0.61)
    }

    .logout ion-icon {
        margin-right: 15px;
        font-size: 25px;
    }

    .logout.active {
        display: flex;
    }

.header_title {
    align-items: center;
    text-align: center;
    color: #e05994;
    margin: 0 0 0 20px;
    font-weight: bold;
}

.header_infor {
    display: flex;
    align-items: center;
}

.search_box {
    background: #f1f1f1;
    border-radius: 15px;
    color: rgba(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
    margin-right: 25px;
}

    .search_box input {
        background: transparent;
        border-color: transparent;
        padding: 7px;
        outline: none;
    }

.user_infor {
    padding: 5px;
    border-radius: 50%;
    width:65px;
    height: 65px;
    background:white !important;
}

.search_box ion-icon {
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.5s ease-out;
    padding: 5px;
}

.search_box input:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.search_box ion-icon:hover {
    transform: scale(1.2);
}

/* CSS Main */

.dashboard_main {
    justify-content: left;
}

.detail_content {
    display: flex;
    margin: 10px 60px 0px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.detail_card {
    display: flex;
    background: #f1f1f1;
    font-size: 1.5em;
    width: 350px;
    height: 200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 25px 60px 25px 60px;
    align-items: center;
    justify-content: space-between;
}

    .detail_card ion-icon {
        width: 30px;
        height: 30px;
        padding: 10px;
        background: orangered;
        border-radius: 50%;
        margin: 0px 10px 0 15px;
    }

.amount {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.amount_title {
    text-transform: uppercase;
    font-weight: bold;
}

.amount_value {
    font-size: 25px;
}
