@page "/admin/dashboard"
@using FurnitureStore.Client.Layout.Admin
@layout AdminLayout

<div class="container-fluid content dashboard">
    
                <div class="row dashboard_header">
                    <div class="col-lg-2 header_title">
                        <span>Trang chính</span>
                        <h1>Bảng điều khiển</h1>
                    </div>
                    <div class="col-lg-12 col-sm-12 header_infor">
                        <div class="col-lg-11 col-sm-10 search_box">
                            <ion-icon name="search-outline"></ion-icon>
                            <input type="input" placeholder="Tìm kiếm">
                        </div>
                        <div class="col-lg-1 col-sm-2 user_infor">
                            <img src="/Assets/Images/user-icon.jpg" alt="Ảnh đại diện">
                            <div class="logout">
                                <ion-icon name="log-in"></ion-icon>
                                <a class="logout-link" href="{{route('logout')}}">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                <div class="col-sm-12 dashboard_main">
                    <div class="dashboard_details">
                        <h1 class="header_title" style="font-size: 45px;">Thống kê hôm nay</h1>
                        <div class="detail_content">
                            <div class="col-lg-4 col-md-12 col-sm-12 detail_card">
                                <ion-icon name="cash-outline"></ion-icon>
                                <div class="amount">
                                    <span class="amount_title">Doanh thu hôm nay</span>
                                    <span class="amount_value">500.000đ</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 detail_card">
                                <ion-icon name="gift" style="background-color: aqua;"></ion-icon>
                                <div class="amount">
                                    <span class="amount_title">Giao hàng thành công</span>
                                    <span class="amount_value">20</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 detail_card">
                                <ion-icon name="cart-outline" style="background-color: greenyellow;"></ion-icon>
                                <div class="amount">
                                    <span class="amount_title">Số lượng đặt hàng</span>
                                    <span class="amount_value">50</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12  col-sm-12 detail_card">
                                <ion-icon name="subway-outline" style="background-color: pink;"></ion-icon>
                                <div class="amount">
                                    <span class="amount_title">Đơn đang vận chuyển</span>
                                    <span class="amount_value">10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
