/* ==================================  forgot-pass  ================================== */

/* ================ forgot-pass header ================ */

.forgot-pass_header[b-82nlsqn7ho] {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 260px;
}

    .forgot-pass_header > a[b-82nlsqn7ho] {
        color: #e05994;
        font-size: 16px;
    }

/* ==============  body  ============== */
.forgot-pass_body[b-82nlsqn7ho] {
    position: relative;
}

    .forgot-pass_body > img[b-82nlsqn7ho] {
        height: 602px;
        width: 100%;
    }

.forgot-pass_body-form[b-82nlsqn7ho] {
    height: 330px;
    width: 450px;
    font-size: 16px;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
}

.forgot-pass_body-form-container[b-82nlsqn7ho] {
    margin: 45px 52px;
}

.forgot-pass_body-form-container[b-82nlsqn7ho] {
    h2

{
    margin-bottom: 28px;
    font-size: 24px;
}

}

.forgot-pass_logocontainer > a[b-82nlsqn7ho] {
    height: 48px;
}

.forgot-pass_header-text[b-82nlsqn7ho] {
    display: inline-block;
    font-size: 28px;
    margin-left: 32px;
}

.forgot-pass_body-input input[b-82nlsqn7ho] {
    margin-bottom: 28px;
    border: rgb(195, 191, 191) solid 1px;
    padding: 7px 15px;
    border-radius: 7px;
    width: 100%;
}

.forgot-pass_body-input label[b-82nlsqn7ho] {
    margin-bottom: 6px;
    font-size: 13px;
    color: rgb(129, 129, 129);
}

.forgot-pass_btn[b-82nlsqn7ho] {
    width: 100%;
    outline: none;
    text-decoration: none;
    position: relative;
    color: var(--white-color);
    font-size: 1.9rem;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 40px;
    text-align: center;
    border: solid 4px transparent;
    padding: 10px 0;
    cursor: pointer;
    display: block;
}

    .forgot-pass_btn:hover[b-82nlsqn7ho] {
        color: white;
        background-color: #81d1e5;
        transition: all 0.2s linear;
    }

    .forgot-pass_btn[b-82nlsqn7ho]::before {
        border-radius: 40px;
        display: block;
        content: "";
        position: absolute;
        z-index: 0;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border: 2px dashed var(--white-color);
    }

.forgot-pass_logocontainer img[b-82nlsqn7ho] {
    height: 48px;
}

/* ===================== FOOTER ====================== */

@media screen and (max-width: 430px) {
    h3.forgot-pass_header-text[b-82nlsqn7ho],
    .forgot-pass_header > a[b-82nlsqn7ho] {
        display: none;
    }
}

@media screen and (max-width: 820px) and (min-width: 431px) {
    h3.forgot-pass_header-text[b-82nlsqn7ho],
    .forgot-pass_header > a[b-82nlsqn7ho] {
        display: none;
    }

    .forgot-pass_header[b-82nlsqn7ho] {
        justify-content: center;
    }

    .forgot-pass_body-form[b-82nlsqn7ho] {
        left: 25%;
        transform: translateX(-50%);
        transform: translateY(-50%);
    }
}
