@using FurnitureStore.Client.Shared
@using FurnitureStore.Client.Shared.Customer
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@layout MainLayout


<div class="body-user grid">
	<div class="body-user-flex">
		<HorizontalNav></HorizontalNav>
		<div class="body-user-display">
            <AuthorizeView>
                <Authorized>
			     @Body
               </Authorized>
            <NotAuthorized>
                <RedirectToLogin/>
            </NotAuthorized>
        </AuthorizeView>
		</div>
	</div>
</div>
