@using FurnitureStore.Client.Shared.Customer
@inherits LayoutComponentBase
@layout MainLayout


<div class="body-user grid">
	<div class="body-user-flex">
		<HorizontalNav></HorizontalNav>
		<div class="body-user-display">
			@Body
		</div>
	</div>
</div>
