.body-title {
    background-color: #EBF7FA;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
    text-align: center;
}

.container-fluid--margin {
    margin-bottom: 100px !important;
}

.body {
    background-color: white;
}

.breadcrumbs {
    margin: 0 0 15px 0;
}

.breadcrumbs__a {
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;
    color: #183a5c;
    text-transform: uppercase;
    margin: 0 5px;
}

.breadcrumbs__a-active {
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;
    color: #999999;
    text-transform: uppercase;
    margin: 0 5px;
}

.body-title-content {
    font-size: 47px;
    color: #183a5c;
    font-weight: 500;
}


.body-content {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.body-content {
    font-size: 17px;
    color: #999999;
}

.body-content-img {
    height: 300px;
    width: 329px;
}
