<footer class="footer">
	<div class="footer-container grid">
		<div class="footer-list">
			<div>
				<a href="" class="footer-item">Chính sách vận chuyển và thanh toán</a>
			</div>
			<div>
				<a href="" class="footer-item">Chính sách bảo vệ thông tin cá nhân của khách hàng</a>
			</div>
			<div>
				<a href="" class="footer-item">Liên hệ</a>
			</div>
			<div>
				<a href="" class="footer-item">Chính sách đổi hàng</a>
			</div>
			<div>
				<a href="" class="footer-item">Chính sách bảo hành</a>
			</div>
		</div>
		<div class="footer-list">
			<h2>
				CÔNG TY CỔ PHẦN MOSS RETAIL <br>
				MOSS RETAIL JSC
			</h2>
			<h3>Tổng đài hỗ trợ:</h3>
			<p>
				0972 264 919
			</p>
			<h3>Địa chỉ: </h3>
			<p><strong>75 Nguyễn Việt Hồng, P.An Phú, Q.Ninh Kiều, TP.CẦN THƠ</strong></p>
			<h3>Email:</h3>
			<p>official@mossvn.com</p>
			<h3>Website:</h3>
			<p>mossvn.com</p>
			<h3>Facebook Fanpage:</h3>
			<a href="">facebook.com/office.moss</a>
			<h3>
				Instagram:
			</h3>
			<a href="">instagram.com/office.moss</a>
			<br> <br>
			<h3 class="foooter-identity"><strong>Số ĐKKD: </strong>1801737615 - <strong>Ngày cấp:</strong> 30/01/2023</h3>
			<div class="footer-connect">
				<a class="footer-connect-link" href="">
					<img class="footer-connect-img" src="https://mossvn.com/images/facebook.png" alt="">
				</a>
				<a class="footer-connect-link" href="">
					<img class="footer-connect-img" src="https://mossvn.com/images/tet_bestseller.png" alt="">
				</a>
				<a class="footer-connect-link" href="">
					<img class="footer-connect-img" src="https://mossvn.com/images/tet_bestseller3.png" alt="">
				</a>
			</div>
		</div>
		<div class="footer-list">
			<span>
				<img class="footer-logo" src="https://mossvn.com/images/logo-moss-remake-R.png" alt="">
			</span>
		</div>
		<div class="footer-list">
			<a class="" href="http://online.gov.vn/Home/WebDetails/84164" target="_blank">
				<img class="footer-link-center" src="https://mossvn.com/images/20150827110756-dathongbao.png" alt="">
			</a>
		</div>
	</div>
</footer>
