@page "/checkout/add-address"
@using FurnitureStore.Client.Layout.Customer
@layout MainLayout

<PageTitle>Home</PageTitle>


<div class="checkout-main">
	<div class="checkout">
		<div class="checkout_container">
			<div class="backhome" style="font-size: 12px;">
				<a href="">HOME</a>
				/
				<a href="">CHECKOUT</a>
			</div>

			<h1>CHECKOUT</h1>
		</div>
	</div>

	<div class="checkout_detail">
		<div class="payment_info">
			<div class="info">
				<h1>Thêm địa chỉ mới</h1>
				<form class="form_info" action="{{route('handle-add-location-checkout')}}" method="POST">
				
					<div class="info_input">
						<label for="">Họ và tên</label><br>
						<input name="full_name" type="text">
					
						<br>
						<span class="msg-error">{{$message}}</span>
						
					</div>

					<div class="info_input">
						<label for="">Số điện thoại <span style="color: red;">*</span></label><br>
						<input name="phone" type="tel">
					
						<br>
						<span class="msg-error">{{$message}}</span>
					
					</div>


					<div class="Location">
						<div class="info_input">
							<label for="">Tỉnh/ Thành phố <span style="color: red;">*</span></label><br>
							<select id="city-select" name="city">
								<option value="">Chọn khu vực</option>

							</select>
						
							<br>
							<span class="msg-error">{{$message}}</span>
						
						</div>

						<div class="info_input">
							<label for="">Quận/ Huyện <span style="color: red;">*</span></label><br>
							<select id="district-select" name="district">
								<option value="">Chọn khu vực</option>

							</select>
						
							<br>
							<span class="msg-error">{{$message}}</span>
						
						</div>
						<div class="info_input">
							<label for="">Phường/ Xã <span style="color: red;">*</span></label><br>
							<select id="ward-select" name="village">
								<option value="">Chọn phường xã</option>

							</select>
						
							<br>
							<span class="msg-error">{{$message}}</span>
						
						</div>
					</div>

					<div class="info_input">
						<label for="">Số nhà, tên đường <span style="color: red;">*</span></label><br>
						<input name="detail_address" type="text">
					
						<br>
						<span class="msg-error">{{$message}}</span>
						
					</div>

					<div class="info_input default-address">
						<input name="default" value="1" type="radio">
						<label for="">Đặt làm địa chỉ mặc định</label><br>
					</div>
					<div>
						<button type="button" onclick="backClick()" class="addLocation-btn">
							Trở lại
						</button>
						<button type="submit" class="addLocation-btn">
							Thêm địa chỉ
						</button>

					</div>
				</form>




			</div>


		</div>

	</div>

</div>
<script src="{{asset('Assets/js/address.js')}}"></script>
<script>
	function backClick() {

		var idUserAddressChoosed = getIDUserAddressFromCookie();
		var url = "{{ route('back-choose-location', ['id' => '14']) }}";
		url = url.replace('14', idUserAddressChoosed);
		window.location.href = url;
	}
	function getIDUserAddressFromCookie() {
		var cookies = document.cookie.split("; ");

		var idUserAddressChoosed = "";
		for (var i = 0; i < cookies.length; i++) {
			var cookie = cookies[i].split("=");
			if (cookie[0] === "idUserAddressChoosed") {
				idUserAddressChoosed = decodeURIComponent(cookie[1]);
				break;
			}
		}
		return idUserAddressChoosed;
	}
</script>
