html, body {
    width: 100%;
    position: relative;
}

.create_account .card {
    position: absolute;
    width: 82%;
    margin-top: 10px;
    line-height: 1.7;
}

.create_account .form-group {
    margin: 10px 0;
    margin-right: 30px;
    font-size: 16px;
}

.create_account input {
    font-size: 14px;
    padding: 5px 10px;
}

.create_account button {
    padding: 6px 20px;
    font-size: 14px;
    margin-bottom: 7px;
}

.account_management .btn-primary {
    padding: 8px 18px;
    font-size: 14px;
    background-color: gainsboro;
    outline: none;
    color: black;
    border: none;
}

.account_management .btn {
    padding: 8px 18px;
}


.container-fluid {
    background-color: #f2f1f6;
}
.col-lg-10
{
    width:75% !important;
}
